{% extends "layout.html" %}
{% block headjs %}
	<link href="m/css/bootstrap.min.css" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <link href="m/css/styles.css" rel="stylesheet">
{% endblock headjs %}
{% block title %}金融产品{% endblock %}
{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    金融产品
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> 德州一号</h4>
                        <img class="img-responsive" src="http://ac-9dv47dhd.clouddn.com/b26dbdce139abc64.jpg">
                    </div>
                    <div class="panel-body">
                        <p>项目公司位于上海市奉贤区，是一家主要面向中小企业和商务人士的综合通信服务提供商。企业邮箱作为企业信息化的基础应用，市场规模巨大。邮件系统作为企业在互联网时代商业活动最基本的应用工具，稳定、安全、快速、易于管理和维护的特性成为必需，邮件专业服务商在标准化运营方面的品质开始对企业用户产生巨大的吸引力。为了把握市场机会，公司领导决定投资电子邮件业务拓展项目，从而增强该业务竞争优势，提升公司专业电子邮件品牌，扩大用户群，增加收入规模。该公司已通过融资租赁机构审核以售后回租方式获得5900万元授信，融资租赁机构将该笔应收账款通过e租宝平台分A、B两期进行该债权转让，A期3000万元，B期2900万元。期限12个月，预期年化收益率12%，投资满30天可申请赎回，赎回后10日内到账。A期债权已转让完毕。本债权转让项目由专业保理公司提供转让保证，保证投资者资金自由赎回；融资租赁机构提供保证担保，承担连带还款责任。</p>
                        <a href="#" class="btn btn-danger">详情</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> 德州二号</h4>
                        <img class="img-responsive" src="http://ac-9dv47dhd.clouddn.com/c89676619add1987.jpg">
                    </div>
                    <div class="panel-body">
                        <p>该企业成立于2013年4月，主要经营计算机软硬件研发、销售；汽车配件、服装鞋帽、家具生产、销售（仅限成都市行政区划以外的分支机构生产；依法须经批准的项目，经相关部门批准后方可开展经营活动）。在专业化分工日趋细致的背景下，整车制造商由传统的纵向经营、追求大而全的生产模式向精简机构、以开发整车项目为主的专业化生产模式转变，行业内形成了整车厂、一级零部件供应商、二级零部件供应商、三级零部件供应商等多层次分工的金字塔结构。该公司现主要生产汽车配件，因公司生产经营规模扩大，急需增加设备。该公司已通过融资租赁机构审核以售后回租方式获得5000万元授信，融资租赁机构将该笔应收账款通过e租宝平台分A、B两期进行该债权转让，A期2500万元，B期2500万元。期限12个月，预期年化收益率9%，随时可赎回，申请赎回后两日内到达平台账户。A期债权已转让完毕。本债权转让项目由融资性担保公司提供履约担保，保证投资者本息收益；专业保理公司提供转让保证，保证投资者资金自由赎回；融资租赁机构提供保证担保，承担连带还款责任。  </p>
                        <a href="#" class="btn btn-info">详情</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> 德州三号</h4>
                        <img class="img-responsive" src="http://ac-9dv47dhd.clouddn.com/2d0b77586434672d.jpg">
                    </div>
                    <div class="panel-body">
                        <p>该企业成立于2006年10月23日，是一家主要经营房地产开发经营、销售，建筑材料和机械设备销售以及建筑工程咨询服务，园林绿化及花卉种植、销售，旅游服务的公司。公司位于云南省德宏州, 注册资本12200万元整。公司为扩大经营规模，开发新项目，目前签订了一批合同，急需补充流动资金购买原材料。该公司已通过融资租赁机构审核以售后回租方式获得9000万元授信,融资租赁机构将该笔应收账款通过e租宝平台分A、B、C三期进行该债权转让，A期3000万，B期3000万，C期3000万。期限12个月，预期年化收益率14.6%，可提前赎回，需要收部分手续费。A、B两期债权已转让完毕。本债权转让项目由业保理公司提供转让保证,保证投资者资金自由赎回；融资租赁机构提供保证担保,承担连带还款责任。</p>
                        <a href="#" class="btn btn-success">详情</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- end template -->

{% block tailjs %}
{% endblock tailjs %}
